/* Custom CSS */
@section1-color: white;
@section2-color: #fbfafa;
@highlight-color: #2197ff;
/* @highlight-color: #0288d1; */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
h1,
h2,
h3,
textarea,
input
{
  font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  /* font-family: 'Open Sans', 'Times New Roman', serif !important; */
  font-weight: 400;
}

::selection,
::-webkit-selection,
::-moz-selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

p {
  margin-top: 1em;
}
p:first-child {
  margin-top: 0;
}


#contact {
  input,
  textarea {
    margin-top: 1em;
  }
  .btn {
    margin-top: 1em;
  }

  em {
    font-size: 0.8em;
  }
}

.shadow-light {
  box-shadow: 0 0.2em 1em rgba(0,0,0,0.08) !important;
}

textarea.form-control,
input.form-control {
  .shadow-light();
  border: none !important;
  padding: 0.9em !important;
}
input.form-control {
  height: 3em;
}
.btn {
  box-shadow: 0 0.2em 1em rgba(0,0,0,0.08) !important;
}

body {
  /* font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif; */
  /* font-family: 'Open Sans', 'Times New Roman', serif; */
  /* font-weight: 300; */

  font-size: 16px;
  min-width: 320px;
  /* color: #567790; */
  color: #375a75;
  color: black;
  color: #193850;
  
}
.intro-header .post-heading .meta,
.post-preview > .post-meta {

  font-weight: 400;
}

.page-home {
  p:last-child {
    /* background: #ff0000; */
    margin-bottom: 0;
  }
}

.intro-header {
  background-color: #181E23;
}
.site-heading {
  padding: 100px 0 !important;
}
a,
a:focus {
  color: @highlight-color;
  text-decoration: none !important;
  font-weight: 800;
}
a:hover,
a img:hover {
  color: @highlight-color;
  text-decoration: underline !important;
  font-weight: 800;
  cursor: pointer;
}
body {
  webkit-tap-highlight-color: @highlight-color;
}
hr {
  width: 40%;
  border-color: #CCC;
}
.post-meta,
.meta {
  text-transform: uppercase !important;
}
.error {
  color: #DD0000;
}
.navbar-toggle {
  border-color: transparent;
  border-radius: 0;
}
.navbar-toggle {
  border: none;
}
.navbar a {
  color: white !important;
  text-transform: none !important;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar-collapse {
  border: none;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    background-color: black;
  }
}
.icon-bar {
  background-color: white !important;
}
/* body, */
/* .form-control { */
  /*font-size: 15px;*/
  /* color: black !important; */
/* } */
p {
  line-height: 1.7;
}
h1,h2,h3,h4,h4,h6 {
  line-height: 1.5;
}
h1 {
  font-size: 40px;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 600;
  /* color: @highlight-color; */
}
h2 {
  font-size: 2.5em;
  font-weight: 600;
  /*color: white;*/
  text-align: center;
  margin-bottom: 1em;
  /*text-transform: uppercase;*/
  /* color: @highlight-color; */
}
h3 {
  font-size: 17px;
  font-weight: 400;
  /*color: white;*/
  text-align: left;
  /*text-transform: uppercase;*/
  color: @highlight-color;
  margin-bottom: 1em;
}
.btn {
  text-transform: none;
  letter-spacing: inherit;
  border-radius: 2px;
}
.intro,
.outro {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin: 2em 0;
}
.intro {
  margin-top: 0
}
.outro {
  margin-bottom: 0
}
header {
  margin: 0 !important;
}
.site-heading h1 {
  /*text-align: left;*/
  font-size: 5em !important;
  font-weight: 600;
  color: white;
  text-transform: none;
  padding-top: 0.1em;
}
@media (max-width: 500px) {
  .site-heading {
    /*text-align: left;*/
    font-size: 0.65em;
    margin-top: 2.5em
  }
}
.site-heading a:hover {
  text-decoration: none !important;
}
.site-heading h2 {
  /*text-align: left;*/
  /*font-size: 20px;*/
  font-weight: 400;
  font-size: 1.1em;
  color: white;
  text-transform: none;
  margin-top: -1.8em;
  opacity: 0.8;
  /*font-style: italic;*/
}
header {
  height: 350px;
}
.btn-primary {
  color: white;
  background-color: @highlight-color;
  border-color: transparent;
}
input,
textarea {
  font-family: 'Open Sans', 'FontAwesome', serif;
  background-color: rgba(255, 29, 29, 0) !important;
  border-color: #CCC !important;
  border-radius: 2px !important;
  appearance: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  resize: none;
  
}
footer {
  background-color: #F0F0F0;
  padding: 20px 0;
  color: @highlight-color;
  background-color: #222;
}
footer i {
  padding: 10px 0 0 20px;
  color: #AAA !important;
}
.fa-stack {
  color: @highlight-color;
}
.vcenter-col {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.section-content {
  padding: 2em 0;
}
@media (min-width: 300px) {
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 3em 1em;
    
    /* background: red; */
  }
}
.section {
  /* padding: 5px 20px; */
}
.section:nth-child(even) {
  background-color: @section1-color !important;
}
.section:nth-child(odd) {
  background-color: @section2-color !important;
}
form {
  margin: 0 auto;
  max-width: 700px;
}
#disqus_thread {
  margin-top: 20px;
  margin-bottom: 20px;
}
.meta {
  opacity: 0.5;
}
.faded {
  opacity: 0.5;
}
.frame {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 25px;
}

.call-to-action {
  background-color: #FFFECF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.04);
}

#endorsements {
  .section-content {
    max-width: 700px;
  }
}
.endorsement {
  .endorsement-body {
  font-weight: 400;

  margin-bottom: 0;
  margin-top: 0.4em;
  /* font-style: italic; */
  text-align: left;
  /* color: @highlight-color; */

  p 
  {
    margin-bottom: 0.8em;
  }

  p:before
  {
  content: '\201C';
  }

  p:after
  {
  content: '\201D';
  }

  em {
    /* border-bottom: 0.1em solid @highlight-color; */
    /* border-bottom: 0.1em solid black; */
    /* color: @highlight-color; */
    font-style: normal; 
    font-weight: 600;

  }
}

.endorsement-from  {
  text-align: left;
  font-size: 0.8em;
  font-style: italic;
  display: flex;
  align-items: center;
  /* margin-left: 1.5em; */
  
  /* opacity: 0.8; */
  a {
    /* color: black; */
    /* font-weight: 600; */
  }
  
}
  img {
    height: 2em;
    margin-right: 0.8em;
  }
  p {
    margin-top: 0;
  }
}
.endorsement ~ .endorsement {
  margin-top: 2em;
}

.clients {
  text-align: center;
  img {
    width: 7em;
    /* height: 2em; */
    margin: 0.5em;
    
  }
  .section-content {
    max-width: 1200px;
  }

  h2 {
    font-size: 1em;
    margin: 0;
  }
  
}

#portfolio {
  .project {
    /* .shadow-light(); */
    /* margin: 2em 0; */
    /* padding: 1em; */
    margin-top: 3em;
  
    text-align: left;
    .project-technologies {
      opacity: 0.5;
      font-size: 0.8em;
      margin-top: -1.2em;
    }
    .project-images {
      display: flex;
      max-width: 20em;
      max-height: 20em;
      /* margin: auto; */
    }
    .project-image-wrapper {
      margin-bottom: 2em;
      text-align: left
      
    }
    img {
      /* width: 100%; */
      flex-grow: 1;
      display: block;
      max-width: 100%;
      height: auto;
      /* max-width: 25em; */
    }

    .project-image-wrapper ~ .project-image-wrapper {
      margin-left: 0.5em;
    }
    h3 {
      margin-top: 0;
    }
  }  
}

h3 {
  font-weight: 800;
  font-size: 1.2em;
}

h3:first-child {
  margin-top: 0;
}

h2:first-child {
  margin-top: 0;
}

.service {
  display: flex;
  .service-image {
    padding: 0 1.5em 0em 0em;
    img {
      height: 3em;
      margin-top: -0.5em;
    }

  }
  .service-body {

  }
  h3 {
    margin-top: 0em;
    
  }
}

.service ~ .service {
  margin-top: 3em;
}

.border-light {
  /* border: 3px solid #222; */
  border-radius: 2px;
  box-shadow: 0 0.2em 1em rgba(0,0,0,0.2);
}

.home-intro {
  font-size: 1.15em;
  margin-top: 2em;
  text-align: center;
}

.message-bar {
  top:0;
  position: sticky;
  width: 100%;
  background: rgba(0,0,0,0.8);
  color: white;

  text-align: center;
  z-index: 500;
  font-size: 0.8em;
  font-weight: 800;

  a, a:hover, a:focus, a:active {
    padding: 0.8em;
        text-decoration: none !important;
    color: inherit;
    display: block;
  }
}