/* Custom CSS */

body {
  font-family: 'Open Sans', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 15px;
}

.intro-header .post-heading .meta,
.post-preview > .post-meta {
  font-family: 'Open Sans', 'Times New Roman', serif;
  font-weight: 400;
}
.site-heading {
  padding: 100px 0 100px !important;
}

a,
a:hover,
a:focus {
  color: #019cb4;
  text-decoration: none !important;
  font-weight: 300;
}

body {
  webkit-tap-highlight-color: #0085a1;
}

hr{
  width: 40%;
  border-color: #CCC;
}

.post-meta,
.meta {
  text-transform: uppercase !important;
}
.error {
  color: #DD0000;
}

.navbar-toggle {
  border-color: transparent;
  border-radius: 0;
}

.navbar-toggle {
  border: none;
}

.navbar a {
  color: white !important;
  text-transform: none !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-collapse {
  border: none;
}


@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    background-color: black;
  }
}



.icon-bar {
  background-color:white !important;
}

body,
.form-control {
  /*font-size: 15px;*/
  color: #777 !important;
}

h1 {
  font-size: 40px;
  color: #505050;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 400;
  color: #019cb4;
}

h2 {
  font-size: 19px;
  font-weight: 300;
  /*color: white;*/
  text-align: center;
  /*text-transform: uppercase;*/
  color: #019cb4;
}

.intro {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  /*text-transform: uppercase;*/
}

header{
  margin:0 !important;
}

.site-heading h1 {
  /*text-align: left;*/
  font-size: 85px;
  font-weight: 700;
  color: white;
  text-transform: none;
  padding-top: 20px;
}

.site-heading h2 {
  /*text-align: left;*/
  /*font-size: 20px;*/
  font-weight: 300;
  color: white;
  text-transform: none;
  margin-top:-4px;
  color: #777;
  /*font-style: italic;*/
}

header {
  height: 350px;
}

.btn-primary{
  color: white;
  background-color: #019cb4;
  border-color: transparent;
}

input,
textarea {
  font-family: 'Open Sans', 'FontAwesome', serif;
  background-color: rgba(255, 29, 29, 0) !important;
  border-color: #CCC !important;
  border-radius: 0 !important;
  appearance: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  resize: none;
}

footer {
  background-color: #F0F0F0;
  padding: 20px 0 20px;
  color: #5888be;
  background-color: #222;
}

footer i {
  padding:10px 0px 0 20px;
  color: #AAA !important;
}

.fa-stack {
  color: #5888be;
}

.vcenter-col {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

@media (min-width: 300px) {
  .section-content
  {
    max-width: 650px;
    margin: 0 auto;
  }
}

.section {
  padding: 5px 20px;
}

.section:nth-child(even) {
  background-color: white !important;

}

.section:nth-child(odd) {
  background-color: #f3f3f3 !important;
}

.form-group {
  margin-bottom: -10px !important;
}

form {
  margin: 0 auto;
  max-width: 500px ;
}

#disqus_thread {
  margin-top: 20px;
  margin-bottom: 20px;
}
